@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans+Condensed:wght@300&family=Poppins:wght@200&family=Raleway:ital,wght@0,100;1,100&family=Roboto:wght@100&display=swap');
header {
    background-color: #a75f7d;
    padding: 5px 0;
    color: white;
}

.logo {
    width: 80px;
    height: 80px;
    margin-top: 45px;
    margin-left: -600px;
}

.heading h1 {
    margin-bottom: -13px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
}

.heading {
    margin-left: -700px
}

.heading h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 0;
}

.image {
    height: auto;
    border: 5px solid pink;
    position: absolute;
    left: 900px;
    top: 20px;
    z-index: 10;
}

footer {
    background-color: #a75f7d;
    color: #fff;
    padding: 10px 100px;
    font-size: 13px;
    letter-spacing: 1.5pt;
}

main {
    margin: 0px auto;
    border: 1px solid rgb(198, 242, 255);
    padding: 0px 220px;
    background-color: rgb(241, 229, 250);
    box-shadow: 0 0 30px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    height: 300px;
}

main h2 {
    border-bottom: 3px solid rgb(224, 223, 223);
    width: 500px
}

main h3 {
    margin-top: -15px;
    font-size: 15px;
}