@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

main {
  display: grid;
  grid-template-columns: 1fr 270px 1fr;
  grid-template-rows: 522px 3px;
  grid-gap: 40px;
}

section {
  grid-row: 1/3;
}

section.smaller {
  grid-row: 1;
}

span {
  font-size: 3.5em;
  vertical-align: text-top;
  font-weight: bold;
}

em {
  position: relative;
  top: 0.7em;
  font-size: 1.7em;
  font-style: normal;
}

@media only screen and (max-width: 799px) {
  main {
    display: block;
    width: auto;
  }
  body {
    margin: 0;
    width: auto;
  }
}
