                        body {
                            background-color: rgb(88, 228, 247);
                            font-size: 16px;
                        }
                        
                        header,
                        main,
                        footer {
                            max-width: 960px;
                            margin: 0 auto;
                            align-items: center;
                            font-family: 'Open Sans', sans-serif;
                        }
                        /*HEADER*/
                        
                        main {
                            background-color: white;
                        }
                        
                        header {
                            padding: 5px 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            background-color: rgb(253, 250, 207);
                        }
                        /* logo */
                        
                        header img {
                            width: 50px;
                        }
                        
                        .heading h1 {
                            font-family: 'Bebas Neue', cursive;
                            font-size: 2.5rem;
                            margin: 0px;
                            color: black;
                            margin-left: -30px;
                        }
                        /*Navigation*/
                        
                        .main-nav {
                            background-color: rgb(253, 250, 207);
                            text-align: center;
                            font-size: 1em;
                            color: rgb(199, 17, 129)
                        }
                        
                        .main-nav>ul {
                            list-style-type: none;
                            display: flex;
                            text-decoration: none;
                        }
                        
                        .main-nav a {
                            border-radius: 20em;
                            padding-top: .20em;
                            padding-bottom: .30em;
                            padding-left: 1.20em;
                            padding-right: 1.20em;
                            min-width: 65px;
                            text-decoration: none;
                        }
                        
                        .main-nav a:hover {
                            background-color: pink;
                            color: white;
                            line-height: .25em;
                            text-align: center;
                            font-size: 1em;
                            text-decoration: none;
                        }
                        /* call to action style */
                        
                        .hero-grid {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-template-columns: 60% 60% 60%;
                        }
                        
                        .hero {
                            height: auto;
                            width: 960px;
                            grid-column: 1 / 3;
                            grid-row: 1;
                        }
                        
                        .action {
                            grid-column: 1;
                            grid-row: 1;
                            text-align: center;
                            margin-top: -3em;
                            margin-bottom: -2em;
                            margin-left: 5em;
                            margin-right: 3.5em;
                            padding: .5em;
                            /* 
    */
                        }
                        
                        .action button {
                            width: 10em;
                            color: white;
                            text-shadow: 2px 2px 4px #000000;
                            background-color: rgb(88, 228, 247);
                            font-size: .7em;
                            border-radius: 20px;
                            border-color: rgb(88, 228, 247);
                            padding: 9px;
                            margin-left: -285px;
                            margin-top: -10px;
                        }
                        
                        .action-paragraph {
                            font-weight: bold;
                            font-family: roboto;
                            font-size: 7em;
                            text-align: left;
                            color: white;
                            text-shadow: 2px 2px 4px #000000;
                            margin-top: 70px;
                        }
                        
                        .action-paragraph2 {
                            font-weight: bold;
                            font-size: 1.5em;
                            text-align: left;
                            color: white;
                            text-shadow: 2px 2px 4px #000000;
                            font-family: roboto;
                            margin-top: -110px;
                            margin-left: 17px;
                        }
                        /* heading style*/
                        
                        .main-heading,
                        .main-heading-center {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.5rem;
                            color: black;
                            padding-top: 10px;
                            padding-left: 10px;
                        }
                        
                        .main-heading-center {
                            text-align: center;
                        }
                        /*Grid Home Page*/
                        
                        .grid {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-gap: 10px;
                            justify-items: center;
                            align-items: end;
                        }
                        
                        .top-left {
                            padding-left: 20px;
                        }
                        
                        .top-right {
                            padding-right: 20px;
                        }
                        
                        .mid-left {
                            padding-left: 20px;
                        }
                        
                        .mid-right {
                            padding-right: 60px;
                        }
                        
                        .bottom {
                            grid-column: 1 / 3;
                            padding-left: 20px;
                            padding-right: 36px;
                        }
                        
                        .block {
                            font-family: 'Open Sans', sans-serif;
                            padding: 1em;
                        }
                        
                        .imagenhome {
                            height: 240px;
                            width: auto;
                        }
                        /* footer */
                        
                        .footer-flex {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-left: 20px;
                            padding-right: 20px;
                            background-color: rgb(114, 114, 116);
                        }
                        
                        .address {
                            text-align: left;
                            color: white;
                        }
                        
                        .social {
                            width: 25em;
                            height: auto;
                            text-align: right;
                        }
                        
                        .print {
                            vertical-align: bottom;
                            font-size: .80rem;
                            letter-spacing: .25pt;
                            text-align: center;
                            padding-bottom: 2px;
                            padding-left: 2px;
                            padding-right: 2px;
                        }
                        /*Amenities Style */
                        
                        .amenities-paragraph {
                            font-weight: bold;
                            font-family: roboto;
                            font-size: 4em;
                            text-align: left;
                            color: white;
                            text-shadow: 2px 2px 4px #000000;
                            margin-top: 130px;
                        }
                        
                        .grid-icons {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-gap: 10px;
                            justify-items: center;
                            align-items: end;
                        }
                        
                        .top-left-icon {
                            padding-left: 20px;
                        }
                        
                        .top-center-icon {
                            padding-left: 20px;
                        }
                        
                        .top-right-icon {
                            padding-right: 20px;
                        }
                        
                        .mid-left-icon {
                            padding-left: 20px;
                        }
                        
                        .mid-center-icon {
                            padding-left: 20px;
                        }
                        
                        .mid-right-icon {
                            padding-right: 60px;
                        }
                        
                        .block-icon {
                            font-family: 'Open Sans', sans-serif;
                            padding: 1em;
                        }
                        
                        .icon {
                            height: 150px;
                            width: auto;
                            margin-top: 50px;
                            padding-left: 50px;
                        }
                        
                        .main-heading-icon {
                            text-align: center;
                        }
                        /*Form*/
                        
                        form {
                            margin: 0 auto;
                            width: 200px;
                            padding: 1em;
                            color: black;
                        }
                        
                        .reservations-ul {
                            list-style: none;
                            padding: 0px;
                            margin: 0px;
                        }
                        
                        form li+li {
                            margin-top: 1em;
                        }
                        
                        label {
                            display: inline-block;
                            width: 90px;
                            text-align: right;
                        }
                        
                        input,
                        textarea {
                            font: 1em sans-serif;
                            width: 300px;
                            box-sizing: border-box;
                            border-radius: 20px;
                            border: 1.5px solid rgb(77, 212, 236);
                            padding-left: 10px;
                            padding-right: 10px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                        
                        input:focus,
                        textarea:focus {
                            border-color: pink
                        }
                        
                        .button {
                            padding-left: 90px;
                        }
                        
                        button {
                            margin-left: 0.5em;
                            border-radius: 20px;
                            border-color: rgb(77, 212, 236);
                            background-color: rgb(77, 212, 236);
                            color: white;
                            padding: 10px;
                        }
                        
                        #feedback {
                            padding: 10px;
                            text-align: center;
                            display: none;
                            color: pink
                        }
                        
                        .action-paragraph3 {
                            font-weight: bold;
                            font-family: roboto;
                            font-size: 4em;
                            text-align: left;
                            color: white;
                            text-shadow: 2px 2px 4px #000000;
                            margin-top: 130px;
                        }