header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 70px;
    background-color: #EA9D90;
}

nav {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #f3ebbc;
    border: 2px solid white;
    padding: 15px;
    color: #EA9D90;
    margin: 15px
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(192, 255, 245);
    transition: 0.5s;
    color: black;
}

.logo {
    padding: 15px;
    background-color: #f3ebbc;
    border: 2px solid white;
    padding: 15px;
    color: #EA9D90;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.titleandinfo {
    max-width: 300px;
    border: 5px solid #EA9D90;
    grid-column: 2/4;
    grid-row: 1/2;
}

main img {
    grid-column: 5/6;
    grid-row: 1/2;
}