/*Body*/

body {
    font-family: Helvetica, Arial, sans-serif;
}

body div {
    display: grid;
    grid-template-columns: 1fr;
}


/*Header*/

header {
    background-color: #6495ED;
    padding: 2.5rem;
    text-align: right;
}

header h1 a {
    color: #FAEBD7;
    font-size: 3rem;
}


/*Subtitle*/

h1,
h2 {
    font-family: 'Lora', serif;
    margin-top: .2rem;
}


/*main*/

main {
    background-color: #FAEBD7;
    padding: 2rem;
}

main article {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 3px 3px rgba(128, 128, 128, 0.877);
}


/*Article*/

article p {
    font-size: 1.3rem;
}

div.post-date {
    display: block;
    color: rgba(128, 128, 128, 0.877);
    font-size: 1.5rem;
}


/*Link*/

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: .8rem 0;
}

nav ul li a {
    font-size: 1.5rem;
    color: #FAEBD7;
}

nav ul li a:visited {
    color: #FAEBD7;
}

nav ul li a:active {
    color: #DEB887;
}

nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

p a {
    color: #6495ED;
}

p a:active {
    color: #DEB887;
}

p a:hover {
    text-decoration: underline;
}

.post-content h2 a {
    font-size: 2.2rem;
    color: black;
}

.post-content h2 a:active {
    color: #DEB887;
}

.post-content h2 a:hover {
    color: #6495ED;
    text-decoration: underline;
}

.post-content figure {
    margin-top: 4rem;
}

.post-content figure img {
    display: block;
    margin: 0 auto;
}


/*Media*/

@media only screen and (min-width: 450px) {
    body {
        max-width: 900px;
        margin: 0 auto;
    }
    body div {
        grid-template-columns: .4fr 1fr;
    }
    header {
        padding: 2rem;
        grid-column: 1 / 2;
    }
    header h1 a {
        font-size: 2rem;
    }
    nav ul li a {
        font-size: 1rem;
    }
    main {
        grid-column: 2 / 3;
    }
    div.post-date {
        font-size: 1rem;
    }
    .post-content h2 a {
        font-size: 1.7rem;
    }
    article p {
        font-size: .8rem;
    }
}